[Unit]
Description=Bot
After=postgresql.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/Moderator_for_ads-master/app.py
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target